{% extends 'base.html.twig' %}

{% block title %}Descente{% endblock %}

{% block body %}
<div class="descente">
    <div class="header">
        <img src="{{ asset('/img/sodipharm.png') }}" alt="Sodipharm logo" class="logo">
         <a href="{{ path('descente') }}"><button class="add-button">+</button></a>
    </div>
    <h1>Descente</h1>
    <div class="form-container">
        <div class="form-inputs">
            <label for="hauteur">Hauteur:</label>
            <input type="number" id="hauteur" name="hauteur" min="0">
            
            <label for="largeur">Largeur:</label>
            <input type="number" id="largeur" name="largeur" min="0">
            
            <button type="button" id="preview-button">Suivant</button>
        </div>
        <div class="preview">
            <div id="rectangle-preview"></div>
        </div>
    </div>
</div>
<script src="{{ asset('js/descente.js') }}"></script>
{% endblock %}