{% extends 'base.html.twig' %}

{% block title %}Descente{% endblock %}

{% block body %}
<div class="descente">
    <div class="header">
        <img src="{{ asset('/img/sodipharm.png') }}" alt="Sodipharm logo" class="logo">
         <a href="{{ path('descente') }}"><button class="add-button">+</button></a>
    </div>
    <h1>Descente</h1>
    <form>
        <label for="height">Hauteur:</label>
        <input type="text" id="height" name="height"><br>
        <label for="length">Longueur:</label>
        <input type="text" id="length" name="length"><br>
        <button type="submit">Suivant</button>
    </form>
</div>
{% endblock %}
