{% extends 'base.html.twig' %}

{% block title %}Etagere{% endblock %}

{% block body %}
<div class="etagere">
    <h1>Etagere</h1>
    <form>
        <label for="height">Hauteur des étagères:</label>
        <input type="text" id="height" name="height"><br>
        <button type="submit">Créer</button>
    </form>
</div>
{% endblock %}
