{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="produit">
    <h1>Produit</h1>
    <form>
        <label for="product">Ajout de produit:</label>
        <input type="text" id="product" name="product"><br>
        <button type="submit">Suivant</button>
    </form>
</div>
{% endblock %}
